---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Demo from '../components/Demo.astro';
import CTA from '../components/CTA.astro';
---

<Layout title="Plans For Today - Simple, Beautiful Daily Planning">
	<main>
		<Hero />
		<Features />
		<Demo />
		<CTA />
	</main>
</Layout>